body {
    font-family: Sans-Serif;
}

article[level="1"] {
    page-break-before: always;
    counter-increment: c1;
    counter-reset: c2;
    counter-reset: c3;
}

article[level="2"] {
    counter-increment: c2;
    counter-reset: c3;
}

article[level="3"] {
    counter-increment: c3;
}

article[level="1"] h1 {
    font-size: 2em;
    color: red;
    border-bottom: 1px solid red;
    -ro-pdf-bookmark-level: 1;
}

article[level="2"] h1 {
    font-size: 1.6em;
    color: blue;
    -ro-pdf-bookmark-level: 2;
}

article[level="3"] h1 {
    font-size: 1.4em;
    color: orange;
    -ro-pdf-bookmark-level: 3;
}

article[level="1"] h1::before {
    content: counter(c1);
    margin-right: 1em;
}

article[level="2"] h1::before {
    content: counter(c1) '.' counter(c2);
    margin-right: 1em;
}

article[level="3"] h1::before {
    content: counter(c1) '.' counter(c2) '.' counter(c3);
    margin-right: 1em;
}


